@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Modificando estructura de barra de navegación y banner */
header {
    background-image: url(../images/Fondo\ banner.png);
    height: 700px;
    width: auto;
    background-size: cover;
}

.menu-icono {
    height: 50px;
}

input {
    display: none;
}

label {
    display: none;
}

nav {
    position: relative;
    display: flex;
    top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 15px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(1.5px);
    border-radius: 12px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding-left: 50px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    padding-right: 50px;
}

nav ul a {
    text-decoration: none;
    color: #696364;
    transition: 0.3s ease;
}

nav ul a:hover {
    color: white;
}



.btn-contact {
    border-radius: 12px;
    padding: 14px 34px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-contact:hover {
    transform: scale(1.1);

}

.text-content {
    position: relative;
    top: 50%;
    left: 50px;
    color: white;

}

.see-more {
    position: relative;
    top: 58%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: #1d1c1c;
    color: white;
}

/* Modificando primera sección */


.our {
    padding: 25px 0 0px 100px;
    font-size: 30px;
    font-weight: normal;
}

.content {
    padding: 50px 100px 50px 100px;
}

.image-1 {
    width: 180vh;
}

.sub-content {
    display: flex;
    gap: 20px;
}

.sub-content img {
    width: 90vh;
}



.one h3 a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: 0.3s ease;
}

.one h3 a:hover {
    transform: scale(1.3);
    color: rgb(97, 94, 94);
}

/* Modificando Servicios */

.Services {
    background-color: #141414;
    color: white;
}

.text-services {
    text-align: left;
    padding: 50px 0 50px 100px;
}

.text-services h2 {
    font-size: 40px;
    font-weight: bold;
}

.text-services p {
    font-size: 20px;
    width: 700px;
    line-height: 1.8;
}

.cards-info {
    display: flex;
    padding: 0 100px 30px 100px;
}

.cards img {
    height: 60px;
    width: 60px;
}

.cards {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    justify-content: space-between;
    text-align: left;
}

.cards h3 {
    font-size: 20px;
}

.cards p {
    font-weight: 200;
    line-height: 1.5;
}

.text-service {
    padding-left: 100px;
    font-size: 20px;
    padding-bottom: 50px;

}

.text-service p {
    padding-bottom: 10px;
}

#btn-2-contact {
    border-radius: 12px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease;
}

#btn-2-contact:hover {
    background-color: #353434;
    color: white;
}

/* Modificando pestaña de mas proyectos */
.more {
    padding: 25px 0 25px 100px;
    font-size: 30px;
    font-weight: 400;
}

.content-2 {
    padding: 0px 100px 20px 100px;
}

.two {
    display: flex;
    padding-bottom: 20px;
    gap: 20px;
}

.two img {
    width: 90vh;
}

.block {
    display: block;
}

.color-1 {
    color: rgb(248, 117, 41);
}

.color-2 {
    color: green;
}

.color-3 {
    color: rgb(243, 86, 138);
}

.block p {
    font-size: 15px;
    padding-top: 15px;
    font-weight: 300;
}

.three {
    display: flex;
    gap: 20px;
}

.three img {
    width: 90vh;

}

.block {
    display: block;
}

/* Modificando sección About */

.about {
    background-color: #141414;
    color: white;
}

.text-about {
    text-align: left;
    padding: 50px 0 50px 100px;
}

.text-about h2 {
    font-size: 40px;
    font-weight: bold;
}

.text-about p {
    font-size: 18px;
    width: 700px;
    line-height: 1.8;
}

.cards-pjs {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
}

.cards-pj img {
    height: 200px;
}

.text-about-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;

}

.firts-text p {
    font-size: 20px;
}

.text-right {
    width: 500px;
    height: 270px;
    line-height: 1.5;
    font-size: 18px;

}

hr {
    position: relative;
    color: #4F494B;
    width: 85%;
    margin-top: 50px;
}

.open {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 64px;
}

/* Modificando sección de contacto */
.section-contact h4 {
    padding-left: 100px;
    font-size: 40px;
    padding-top: 50px;
    font-weight: 300;
}

.section-contact img {
    width: 180vh;
    align-items: center;
    align-content: center;
    padding: 23px 100px 10px 100px;
}

.text-contact {
    padding-left: 100px;
}

.text-contact a {
    color: #0e0e0e;
    transition: 0.3 ease;
}

.text-contact a:hover {
    color: #fa0000;
}


/* Modificando sección del footer */
.content-footer {
    background-color: #151314;
    padding: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.content-footer hr {
    display: none;
}

.logo-white {
    display: flex;
    height: 81px;
}

#version-movil {
    display: none;
}

.text-footer {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 36px;

}

.text-footer a {
    text-decoration: none;
    color: white;
    transition: 0.3 ease;
}

.text-footer a:hover {
    color: #fa0000;
}

.text-footer p {
    color: white;
}

.derechos-reservados {
    display: flex;
    color: white;
    padding-top: 200px;
    padding-bottom: 36px;
    gap: 30px;
}

img {
    content-visibility: auto;
}

/* Version para moviles */

@media (max-width: 767px) {

    html {
        overflow-x: hidden;
    }

    html {
        scroll-behavior: smooth;
    }

    /* barra de navegacion y menu */
    #menu label {
        display: initial;
        align-items: center;
        align-content: center;
        padding-top: 30px;
    }

    label {
        display: initial;
    }

    .logo {
        padding-left: 10px;
        height: 40px;
    }

    nav img {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        position: absolute;
        padding: 30px;
        top: 85%;
        right: 0;
        left: 0;
        background-color: rgb(217, 221, 224);
        display: none;
    }

    nav ul li {
        width: 100%;
    }

    #menu:checked~ul {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }

    header {
        background-image: linear-gradient(rgba(22, 22, 22, 0.63), rgba(29, 29, 29, 0.733)), url(../images/Fondo\ banner.png);
        height: 700px;
        width: auto;
        background-size: 80vh cover;
        background-repeat: no-repeat;

    }

    .text-content {
        text-align: center;
        left: 0px;
    }

    .see-more {
        top: 60%;
    }

    /* Modificando primera sección */

    .our {
        align-content: center;
        padding-left: 50px;
    }

    .content {
        display: block;
        padding-left: 0px;
    }

    .image-1 {
        width: clamp(300px, 100vw, 418px);
    }

    .sub-content {
        text-align: center;
        padding: 0px;
    }



    .sub-content h3 {
        padding: auto;
    }

    .sub-content p {
        text-align: center;
        padding: 0px 25px;
    }

    .sub-content img {
        width: clamp(300px, 100vw, 418px);

    }

    /* Modificando sección servicios */
    .Services {
        width: auto;

        text-align: center;
    }

    .text-services {
        text-align: center;
        padding: 20px 20px;
    }

    #work {
        font-size: 25px;
    }

    .text-services p {
        font-size: smaller;
        padding: auto;
        width: auto;

    }

    .cards-info {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .cards {
        text-align: center;
        align-items: center;

    }

    .cards p {
        font-weight: 400;
        font-size: smaller;
        width: 300px;
    }

    .text-service br {
        display: none;
    }

    .text-service {
        padding-left: 25px;
        padding-right: 25px;
        align-items: center;
        font-size: 15px;
        text-align: center;

    }

    .text-service p {
        padding-bottom: 20px;
    }

    .more {

        padding: 10px 25px;
        text-align: center;
    }

    .content-2 {
        padding-left: 0px;
        padding-right: 0px;

    }

    .two {
        display: flex;
        flex-direction: column;
    }

    .two img {
        width: clamp(300px, 100vw, 418px);
    }

    .block img {
        width: clamp(300px, 100vw, 418px);
    }

    .block h3 {
        padding: auto;
        text-align: center;

    }

    .block p {
        text-align: center;
        padding: 0 25px;
    }

    .three {
        display: flex;
        flex-direction: column;
    }

    /* modificando sección about */
    .text-about {
        width: auto;
        text-align: center;
        padding: 20px 0 0 0;
    }

    .text-about p {
        width: auto;
        font-size: smaller;
        padding: 0px 25px;
    }

    .cards-pjs {
        display: block;
        padding-top: 25px;
        text-align: center;
    }

    .cards-pj img {
        height: 150px;
        border-radius: 10px;
    }

    .text-about-2 {
        display: block;
        padding: 25px 25px 0px 25px;
        text-align: center;
    }

    .firts-text {
        font-size: medium;
    }

    .text-right {
        width: auto;
        font-size: smaller;
        text-align: center;
    }

    .open {
        display: flex;
        flex-direction: column;
        padding: 15px 10px;
        width: auto;
        text-align: center;
    }

    /* Sección contacto */


    .section-contact img {
        width: clamp(300px, 100vw, 418px);
        padding: 0px;
    }

    .section-contact h4 {
        padding: 0px 0px;
        align-items: center;
        text-align: center;
    }

    .text-contact {
        padding: 15px 0 0 0;
        text-align: center;
    }

    /* Sección footer */
    .content-footer {
        display: block;
        text-align: center;
        padding: auto;
        width: auto;
    }

    .content-footer hr {
        display: block;
        padding: 0px;
        margin: 0 auto;
    }

    #version-destokp {
        display: none;

    }

    #version-movil {
        display: flex;
        justify-content: center;
        padding: 30px 0px 15px 0px;
    }

    .text-footer {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 15px 0px;
        width: auto;
    }

    .derechos-reservados {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 15px 0px;
        width: auto;
    }


}

/* Version desktop (1920 x 1080) */

@media (width: 1920px) {
    html {
        overflow-x: hidden;
    }

    nav {
        margin: 0 100px;
    }

    .text-content {
        left: 100px;
    }

    .image-1 {
        width: 1717px;
        height: 1000px;
    }

    .sub-content {
        width: auto;
    }

    .sub-content img {
        width: auto;
    }

    /* more projects */

    .content-2 img {
        width: auto;
    }

    /* about */
    .cards-pj img {
        height: 300px;
    }

    hr {
        width: 90%;
    }

    /* contact us */
    .section-contact {
        width: auto;
    }

    .section-contact img {
        max-width: 1700px;
    }




}